<!DOCTYPE html>
<html>
<head>
    <title>registration  page</title>
</head>
<body>
    <form  method="POST">
        
          <h1>Register</h1>
          
      
          <label for="password"><b>password</b></label><br>
          <input type="password" placeholder="Enter password" name="password" required><br><br>

          <label for="conpassword"><b>confirm password</b></label><br>
          <input type="password" placeholder="Enter confirm password" name="conpassword" required><br><br>

          <label for="student_first_name"><b>student_first_name</b></label><br>
          <input type="text" placeholder="Enter student_first_name" name="student_first_name" required><br><br>

          <label for="student_last_name"><b>student_last_name</b></label><br>
          <input type="text" placeholder="Enter student_last_name" name="student_last_name" required><br><br>
          
          <label for="phone"><b>phone</b></label><br>
          <input type="text" placeholder="Enter phone" name="phone" required><br><br>
      
          <label for="email"><b>email</b></label><br>
          <input type="email" placeholder="Enter email" name="email" required><br><br>
      
          <label for="city"><b>city</b></label><br>
          <input type="city" placeholder="Enter city" name="city" required><br><br>

          <label for="state"><b>state</b></label><br>
          <input type="state" placeholder="Enter state" name="state" required><br><br>
          <hr>
      
         
          <button type="submit">Register</button>
        
      
        
      </form>
</body>
</html>