<!DOCTYPE html>
<html>
<head>
    <title>log In  page</title>
</head>
<body>
    <form action="/login" method="POST">
        
          <h1>Log In</h1>
          
          <label for="email"><b>email</b></label><br>
          <input type="email" placeholder="Enter email" name="email" required><br><br>
      
      
          <label for="password"><b>password</b></label><br>
          <input type="password" placeholder="Enter password" name="password" required><br><br>

          <button type="submit">log in</button>
        
      
        
      </form>
</body>
</html>